*.sh
*.out
__pycache__
scripts/BERT_substitutions_sbatch_generator.py
'./scripts/bash_scripts'
scripts/scratchpad.py
scripts/scratchpad.r
plot_scratchpad.r
scripts/2D_GAMMs_sbatch_generator.py
smooth_lineplots.txt
scripts/LO_GAMMs_sbatch_generator.py
datasets/uscongress_base_preprocessed.csv
datasets/uscongress_linked.csv
Rplots.pdf
scripts/a_optimization_sbatch_generator.py
assets/speakerwise_word_sense_examples.json